%h1 Statistics

%div{role: "tabpanel"}
  %ul.nav.nav-tabs{role: "tablist"}
    %li.active{role: "presentation"}
      %a{href: "#today", data: {toggle: "tab"}} Today
    %li{role: "presentation"}
      %a{href: "#all", data: {toggle: "tab"}} All
    %li{role: "presentation"}
      %a{href: "#cards", data: {toggle: "tab"}} Cards

  .tab-content
    .tab-pane.active#today
      .row
        .col-xs-6  Number of revisions
        .col-xs-6= @reviews_today.count
      .row
        .col-xs-6  Number of cards revised
        .col-xs-6= @reviews_today.pluck(:card_id).uniq.count
      .text-center
        = @reviews_today.thumb_up.count
        %i.text-success.fa.fa-thumbs-o-up
        = @reviews_today.thumb_down.count
        %i.text-danger.fa.fa-thumbs-o-down
    .tab-pane#all
      .row
        .col-xs-6  Number of cards
        .col-xs-6= Card.count
      .row
        .col-xs-6  Number of revisions
        .col-xs-6= @reviews.count
      .text-center
        = @reviews.thumb_up.count
        %i.text-success.fa.fa-thumbs-o-up
        = @reviews.thumb_down.count
        %i.text-danger.fa.fa-thumbs-o-down

    .tab-pane#cards
      #ReactCardStatistics{data: {cards: Hash[Card.pluck(:id, :word)].to_json}}
