- @title ||= "TODO Form"
%h1= @title

= form_for(@todo) do |f|
  .form-group
    = f.text_field :word, :class => "form-control", :placeholder => "Word"

  - if @todo.new_record?
    = f.submit "Save", :class => "btn btn-default"
  - else
    = f.submit "Update", :class => "btn btn-default"
