%h1 Edit Card

= form_for(@card) do |f|
  - [:word, :word_type, :definition, :synonyms, :antonyms, :sentence].each do |sym|
    %div.form-group
      = f.label sym
      = f.text_field sym, :class => "form-control"

  .form-group
    = label_tag "Tags"
    = text_field_tag :new_decks_titles, "", :class => "form-control", :placeholder => "New Deck 1, New Deck 2"
    = select_tag :deck_ids, select_options_arr(Deck.order(:title), @card.deck_ids, :id, :title), :multiple => true, :class => "form-control"

  = f.submit "Update", :class => "btn btn-default"
