%h1 New Card

= form_for(@card) do |f|
  - [:word, :word_type, :definition, :synonyms, :antonyms, :sentence].each do |sym|
    %div
      = f.label sym
      = f.text_field sym

  %div
    = f.label :yaml_file, "Import YAML"
    = f.file_field :yaml_file

  = f.submit "Save"
