%h1 New Card

= form_for(@card) do |f|
  - [:word, :word_type, :definition, :synonyms, :antonyms, :sentence].each do |sym|
    .form-group
      = f.label sym
      = f.text_field sym, :class => "form-control"

  %p.help-block OR

  .form-group
    = f.label :yaml_file, "Import YAML"
    = f.file_field :yaml_file


  .form-group
    = label_tag "Tags"
    = text_field_tag :new_decks_titles, "", :class => "form-control", :placeholder => "New Deck 1, New Deck 2"
    = select_tag :deck_ids, options_from_collection_for_select(Deck.order(:title), :id, :title), :multiple => true, :class => "form-control"

  = f.submit "Save", :class => "btn btn-default"
