- if @deck.id
  %h1 Edit Deck
- else
  %h1 New Deck

= form_for @deck do |f|
  .form-group
    = f.label :title
    = f.text_field :title, :class => "form-control"

  .form-group
    = label_tag "Cards"
    = select_tag "deck[card_ids]", select_options_arr(Card.order(:word), @deck.card_ids, :id, :word), :multiple => true, :class => "form-control"

  = f.submit "Create", :class => "btn btn-primary"
