%h1 Edit Deck

= form_for(@deck) do |f|
  .form-group
    = f.label :title
    = f.text_field :title, :class => "form-control"

  .form-group
    = select_tag :card_ids, select_options_arr(Card.order(:word), @deck.card_ids, :id, :word), :multiple => true, :class => "form-control"

  = f.submit "Save", :class => "btn btn-primary"
