%h1 New Deck

= form_for @deck do |f|
  .form-group
    = f.label :title
    = f.text_field :title, :class => "form-control"

  .form-group
    = label_tag "Cards"
    = select_tag :card_ids, options_from_collection_for_select(Card.order(:word).to_a, :id, :word), :multiple => true, :class => "form-control"

  = f.submit "Create", :class => "btn btn-primary"
