<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flash Cards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_url %>">Flash Cards</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <% [:cards, :decks, :todos].each do |sym| %>
              <li<% if request.original_url == send("#{sym}_url") %> class="active"<% end %>>
                <a href="<%= send("#{sym}_url") %>"><%= sym.to_s.capitalize %></a>
              </li>
            <% end %>
          </ul>

          <form class="navbar-form navbar-right" role="search" action="<%= search_path %>" method="get">
            <div class="form-group">
              <input type="search" class="form-control" placeholder="Search" name="query">
            </div>
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </form>
        </div>


      </div>
    </nav>

    <%= yield %>
  </div>

  <div class="spinner-container hidden"></div>
</body>
</html>
